.modal-container {
  display: flex;
  flex-direction: column;
}

.modal-header-container {
  display: flex;
  justify-content: center;
}

#add-workout:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(129, 54, 54);
}

#add-exercise-btn {
  margin-top: 1rem;
}
